<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="RHA.SeleniumFrameworkDesign.StandAloneTestRefactor"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Error Validations">
    <classes>
      <class name="RHA.SeleniumFrameworkDesign.ErrorValidation"/>
    </classes>
  </test>
</suite> <!-- Suite -->
